.menu-button {
    border: 2px solid #ffffff;
    border-radius: 10px;
    transition: .5s;
    background-color: #686868;
    margin: 10px;
}

.menu-button:hover {
    background-color: #008000;
    transform: scale(1.1);
}

.menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    color: #ffffff;
}

.menu-link:visited {
    color: #ffffff
}

.button-shift {
    position: relative;
    top: 45%;
}

.result-button {
    position: absolute;
    top: 40%;
    left: 42%;
    font-size: 1.5em;
    z-index: 1;
}

.result-button-hidden {
    position: absolute;
    opacity: 0;
}
