.result {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #00000094;
    color: #ffffff;
    position: relative;
    top: 40%;
    width: 300px;
}

.result-table {
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.result-string {
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #ffffff;
    margin: 10px 0 0;
}

.title {
    text-align: center;
}
